.topnav{
position: static;
width: 53px;
height: 20px;
left: 12px;
top: 10px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}