@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.header {
    background-color: #191765;
    background-image:url(./mobile.png) ;
    background-repeat: no-repeat;
    height: 2617.208740234375px;
width: 734.4419555664062px;
left: -112.0361328125px;
top: 1601.21728515625px;
border-radius: 0px;

}