* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: #65173e;

}
/* body{
  
} */
/* .body1 {
  background-color: #e5e5e5;
} */

nav ul {
  /* position: right;
  width: 53px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  display: flex;
  /* /justify-content: center; */
  text-justify: 1em;
  align-items: center;
  text-align: center;  
  color: #fff;
  justify-content: flex-end;
  padding-left: 1 em;
  
  /* padding: 1em; */
  /* Inside Auto Layout */
  /* flex: none; */
  /* order: 0;
  flex-grow: 0; */
  /* margin-right:auto; */
}

#contact {
  padding: 0.1em;
}

#folio {
  padding: 1em;
}

#about {
  padding: 1em;
}
#img {
  padding: 1em;
}
.bars {
  font-size: 25px;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
 }
